<header>
  <div id="topNav">
    <a href="/homepage" id="logo">
      <img src="/icons/GPIcon.png" alt="Logo" width="50" height="50" />
      <span class="logo-text">GoPick</span>
    </a>

    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search products..." />
      <button class="search-btn">🔍</button>
    </div>

    <a href="/ai" title="AI assistant">
  <img src="/icons/ai.png" alt="AI" width="30" height="30" />
</a>

    <a href="/cart">
      <img src="/icons/cart.png" alt="cart" width="30" height="30" >
    </a>
  </div>

  <nav>
    <a href="#">Products</a>
    <a href="/faq">FAQs</a>
    <a href="/account">My Account</a>
  </nav>
</header>
